dt{
    font-weight: bold;
    text-align: center;
}
div {
    vertical-align: top;
    display:inline-block;
    border-top:solid 4px grey;
    border-left:solid 4px grey;
    border-right:solid 4px black;
    border-bottom:solid 4px black;
    margin: 5px;
    padding: 10px 30px 10px 30px;
    width:300px;
    height: 600px
}
div.contents {
    background-color:#ffff22;
}
div#ootd{ 
    background-color:cyan;
    text-decoration:underline;
    color: red;
}
div#color{
    background-color:lavender
}
div#login_form{
    text-align: center;
}
div#login_form input{
    display: inline-block;
}
p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}